<%= form_with(model: shipping, local: true) do |form| %>
  <% if shipping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shipping.errors.count, "error") %> prohibited this shipping from being saved:</h2>

      <ul>
      <% shipping.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Fecha_de_Expedicion %>
    <div class="selectors">
      <%= form.date_select( :expedition_date, {:class => "selectors"})  %>
    </div>
  </div>

  <div class="field">
    <%= form.label :delivery_date %>
    <div class="selectors">
      <%= form.date_select :delivery_date, class:"selector" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :ship_type %>
  </div>

  <div class="field">
    <%= form.label :Firma_de_autorización %>
    <%= form.text_field :authorization_sign %>
  </div>

  <div class="field">
    <%= form.label :delivery_sign %>
    <%= form.text_field :delivery_sign %>
  </div>

  <div class="field">
    <%= form.label :package_number %>
    <%= form.number_field :package_number %>
  </div>

  <div class="field">
    <%= form.label :delivery_cost %>
    <%= form.text_field :delivery_cost %>
  </div>

  <div class="field">
    <%= form.label :insurance_cost %>
    <%= form.text_field :insurance_cost %>
  </div>

  <div class="field">
    <%= form.label :pick_up_cost %>
    <%= form.text_field :pick_up_cost %>
  </div>

  <div class="field">
    <%= form.label :taxes %>
    <%= form.text_field :taxes %>
  </div>

  <div class="field">
    <%= form.label :final_cost %>
    <%= form.text_field :final_cost %>
  </div>

  <div class="actions">
    <br>
    <%= form.submit"Guardar",class:"btn bigBtn"%>
  </div>
<% end %>
