<%= form_with(model: pick_up, local: true) do |form| %>
  <% if pick_up.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pick_up.errors.count, "error") %> prohibited this pick_up from being saved:</h2>

      <ul>
      <% pick_up.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div class="field">
      <p style="color:gray;">Cliente solicitante</p>
    </div>
    <div class="dropdown">
      <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Seleccione un cliente</a>
      <div class="dropdown-menu">
        <% @client.each do |client| %>
          <div class="col">
            <%= form.radio_button :client_id, client.id %>
            <%= form.label :client_id, client.client_name + ' ' + client.client_lastname, :value => client.id, :class=>"fieldTitle tableButton"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :Terminado %>
    <%= form.text_field :is_done %>
  </div>
  <div class="field">
    <%= form.label :Agenda %>
    <div class="selectors">
      <%= form.date_select( :schedule, { :class => "selectors"}) %>
    </div>
  </div>

  <div>
    <div class="field">
      <p style="color:gray;">Dirección</p>
    </div>
    <div class="dropdown">
      <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Seleccione una Dirección</a>
      <div class="dropdown-menu">
        <% @address.each do |address| %>
          <div class="col">
            <%= form.radio_button :address_id, address.id %>
            <%= form.label :address_id, address.street + ' #' + address.number.to_s + ', '+address.colony, :value => address.id, :class=>"fieldTitle tableButton"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div>
    <div class="field">
      <p style="color:gray;">Sucursal</p>
    </div>
    <div class="dropdown">
      <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Seleccione una Sucursal</a>
      <div class="dropdown-menu">
        <% @branch_office.each do |branch_office| %>
          <div class="col">
            <%= form.radio_button :branch_office_id, branch_office.id %>
            <%= form.label :branch_office_id, branch_office.branch_office_name, :value => branch_office.id, :class=>"fieldTitle tableButton"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="actions">
    <br>
    <%= form.submit"Guardar",class:"btn bigBtn" %>
  </div>
<% end %>
