<%= form_with(model: pick_up, local: true) do |form| %>
  <% if pick_up.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pick_up.errors.count, "error") %> prohibited this pick_up from being saved:</h2>

      <ul>
      <% pick_up.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :is_done %>
    <%= form.text_field :is_done %>
  </div>

  <div class="field">
    <%= form.label :schedule %>
    <%= form.date_select :schedule %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
