<%= render "partials/nav" %>
<div class="small-container center-block">
  <h2>Editar <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, "Correo electronico" , :class=>"fieldTitle" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password, "Contraseña" , :class=>"fieldTitle"%> <i style="color:white;">(dejalo vacio si no la quieres cambiar)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em style="color:white;"><%= @minimum_password_length %> caracteres minimos</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirmar contraseña", :class=>"fieldTitle" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :current_password, "Contraseña actual" , :class=>"fieldTitle"%> <i>(necesitamos tu contraseña actual para hacer los cambios)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="field">
        <%= f.label :name, "nombre", :class=>"fieldTitle" %><br />
        <%= f.text_field :name, autocomplete: "nombre" %>
      </div>

      <div class="field">
        <%= f.label :last_name, "apellidos", :class=>"fieldTitle" %><br />
        <%= f.text_field :last_name, autocomplete: "last-name" %>
      </div>

      <div class="field" style="color: #D1D1D1;">
        <%= f.label :phone, "teléfono", :class=>"fieldTitle" %><br />
        <%= f.text_field :phone, autocomplete: "phone-number" %>
      </div>

      <div>
        <div class="field">
          <p style="color:gray;">ROL</p>
        </div>
        <div class="dropdown">
          <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Selecciona un rol</a>
          <div class="dropdown-menu">
            <% @roles = Role.all %>
            <% @roles.each do |roles| %>
              <div class="col">
                <%= f.radio_button :role_id, roles.id %>
                <%= f.label :role_id, roles.role_name, :value => roles.id, :class=>"fieldTitle tableButton"%>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div>
        <div class="field">
            <p style="color:gray;">Sucursal</p>
          </div>
          <div class="dropdown">
            <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Seleccione una Sucursal</a>
            <div class="dropdown-menu">
              <% @branch = BranchOffice.all %>
              <% @branch.each do |branch| %>
                <div class="col">
                  <%= f.radio_button :branch_office_id, branch.id %>
                  <%= f.label :branch_office_id, branch.branch_office_name + ", " + branch.branch_office_phone.to_s + ", " + branch.branch_office_email, :value => branch.id, :class=>"fieldTitle tableButton"%>
                </div>
              <% end %>
            </div>
          </div>
      </div>

      <div>
        <div class="field">
            <p style="color:gray;">Dirección</p>
          </div>
          <div class="dropdown">
            <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Seleccione una Dirección</a>
            <div class="dropdown-menu">
              <% @address = Address.all %>
              <% @address.each do |address| %>
                <div class="col">
                  <%= f.radio_button :address_id, address.id %>
                  <%= f.label :address_id, address.street + ", " + address.number.to_s + ", " + address.colony + ", " + address.postal_code.to_s, :value => address.id, :class=>"fieldTitle tableButton"%>
                </div>
              <% end %>
            </div>
          </div>
      </div>

      <div class="field">
        <p style="color:white;">Género:</p>
      </div>
      <div class="text-center">
        <div class="row">
          <div class="col">
            <%= f.radio_button :gender, 'Masculino' %>
            <%= f.label :gender, "Masculino", :value => "  Masculino", :class=>"fieldTitle" %>
          </div>
          <div class="col">
            <%= f.radio_button :gender, 'Femenino' %>
            <%= f.label :gender, "Femenino", :value => "  Femenino" , :class=>"fieldTitle"%>
          </div>
          <div class="col">
            <%= f.radio_button :gender, 'Género no Binario' %>
            <%= f.label :gender, "Género no Binario", :value => "No binario", :class=>"fieldTitle" %>
          </div>
        </div>
      </div>

      <div class="row text-center">
        <div class="col">
          <%= button_to "Actualizar", registration_path(resource_name), method: :put, class:"btn btn-primary" %>
        </div>
        <div class="col">
          <p><%= button_to "Cancela mi cuenta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-secondary" %></p>
        </div>
        <div class="col">
            <%= link_to "ir Atras", :back %>
        </div>
      </div>
    <div class="actions">

    </div>
  <% end %>
</div>
