<div class="small-container center-block">
  <h2 class="title text-center" style="color: #018FA2;">Registrar trabajador</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, "Correo Electrónico" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password, "Contraseña" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> carácteres minimos)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "confirmación de contraseña" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :name, "nombre" %><br />
      <%= f.text_field :name, autocomplete: "nombre" %>
    </div>

    <div class="field">
      <%= f.label :last_name, "apellidos" %><br />
      <%= f.text_field :last_name, autocomplete: "last-name" %>
    </div>

    <div class="field">
      <%= f.label :phone, "teléfono" %><br />
      <%= f.text_field :phone, autocomplete: "phone-number" %>
    </div>

    <div class="field">
        <p style="color:gray;">ROL</p>
    </div>
    <div class="dropdown">
        <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Selecciona un rol</a>
        <div class="dropdown-menu">
          <% @roles = Role.all %>
          <% @roles.each do |roles| %>
            <div class="col">
              <%= f.radio_button :role_id, roles.id %>
              <%= f.label :role_id, roles.role_name, :value => roles.id, :class=>"fieldTitle tableButton"%>
            </div>
          <% end %>
        </div>
    </div>
    <!-- >
    <div class="field">
        <p style="color:gray;">Dirección</p>
    </div>
    <div class="dropdown">
        <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Selecciona un rol</a>
        <div class="dropdown-menu">
          <% @addresses = Address.all %>
          <% @addresses.each do |addresses| %>
            <div class="col">
              <%= f.radio_button :address_id, addresses.id %>
              <%= f.label :address_id, addresses.role_name, :value => roles.id, :class=>"fieldTitle tableButton"%>
            </div>
          <% end %>
        </div>
    </div>
    < -->
    <div class="field">
      <p style="color:gray;">Género:</p>
    </div>

    <div class="text-center" style="color:gray;">
        <div class="row">
          <div class="col">
            <%= f.radio_button :gender, 'Masculino' %>
            <%= f.label :gender, "Masculino", :value => "Masculino" %>
          </div>
          <div class="col">
            <%= f.radio_button :gender, 'Femenino' %>
            <%= f.label :gender, "Femenino", :value => "Femenino" %>
          </div>
          <div class="col">
            <%= f.radio_button :gender, 'Género no Binario' %>
            <%= f.label :gender, "Género no Binario", :value => "Género no binario" %>
          </div>
        </div>
    </div>

    <div class="actions" style="margin-bottom:10px;">
      <%= f.submit "Registrarse", class:"btn btn-primary margin-top" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
