<%= render "partials/nav"%>
<div class="container">
  <div class="row text-center">
    <div class="col">
      <h1>Consulta de Status</h1>
    </div>
  </div>
  <p id="notice"><%= notice %></p>

  <p class="tableInfo">
    <strong class="tableTitle">Status:</strong>
    <%= @status.status %>
  </p>

  <p class="tableInfo">
    <strong class="tableTitle">Fecha de Status:</strong>
    <%= @status.status_date %>
  </p>

  <%= link_to 'Editar', edit_status_path(@status), class:"tableButton" %> |
  <%= link_to 'Atrás', statuses_path, class:"tableButton" %>

</div>
