<%= render "partials/nav"%>
<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row text-center">
    <div class="col">
      <h1>Información fiscal / Facturación</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table>
        <thead>
          <tr class="tableTitle">
            <th>RFC&nbsp&nbsp&nbsp&nbsp&nbsp</th>
            <th>Email&nbsp&nbsp&nbsp&nbsp&nbsp</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @billing_informations.each do |billing_information| %>
            <tr class="tableInfo">
              <td><%= billing_information.rfc %>&nbsp&nbsp&nbsp&nbsp&nbsp</td>
              <td><%= billing_information.email %>&nbsp&nbsp&nbsp&nbsp&nbsp</td>
              <td><%= link_to 'Ver', billing_information, class:"tableButton" %>&nbsp&nbsp&nbsp&nbsp&nbsp</td>
              <td><%= link_to 'Editar', edit_billing_information_path(billing_information), class:"tableButton" %>&nbsp&nbsp&nbsp&nbsp&nbsp</td>
              <td><%= button_to 'Eliminar', billing_information, class:"tableButton", method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <br>

      <%= link_to 'Nueva información fiscal', new_billing_information_path, class:"tableButtonNew" %>
    </div>
  </div>
</div>
