<div class="nav nav-fill navegador">
    <%=image_tag("pdsLogo.png", size: "60x60", class:"userIcon")%>
    <li class="nav-item">
        <div class="text-left info">
            <p id="information" style="color: white; margin-left:10px;">Instituto Tecnol칩gico de Ciudad Guzm치n <br> ID: 128756 <br>Av. Tecnol칩gico #100 </p>
        </div>
    </li>
    <li class="nav-item margin-top text-right">
        <div class="inline-block" style="color: white;">
           <%= link_to "Inicio", root_path, class:"nav-link"%>
        </div>
        <div class="inline-block" style="color: white;">
           <%= link_to "Administraci칩n", admin_path, class:"nav-link"%>
        </div>
        <div class="dropdown inline-block">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Hola <%= current_worker.name %> !</a>
            <div class="dropdown-menu dropdown-menu-right">
                <%= link_to "Editar cuenta", edit_worker_registration_path, class:"dropdown-item"%>
                <div class="dropdown-divider"></div>
                <%= link_to "Cerrar sesion", destroy_worker_session_path, :method => :delete, class:"dropdown-item"%>
            </div>
        </div>
        <!-- >
        <div class="header-right margin-top">

            <p class="btn inline-block margin-bottom"> Logeado como <%= current_worker.name %> </p>
        </div>
        <!-- -->
    </li>
    <%=image_tag("pdsLogo.png", size: "60x60", class:"userIcon")%>

</div>
