<%= render "partials/nav"%>
<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Consulta de Cliente</h1>
    </div>
  </div>
  <p id="notice"><%= notice %></p>

  <p class="tableInfo">
    <strong class="tableTitle">Nombre:</strong>
    <%= @client.client_name %>
  </p>

  <p class="tableInfo">
    <strong class="tableTitle">Apellido:</strong>
    <%= @client.client_lastname %>
  </p>

  <%= link_to 'Editar', edit_client_path(@client), class:"tableButton" %> |
  <%= link_to 'Atrás', clients_path, class:"tableButton" %>

</div>
