<!-- >
<nav class="nav bg-light">
    <li class="nav-item">
        <%= link_to "Inicio", root_path, class:"nav-link" %>
    </li>
</nav>
<!-- -->
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <%= render "partials/nav"%>
    <div class="container-fluid contenedorInicio">
      <h1 class="text-center title" style="color: #018FA2;">PACKAGE DELIVERY SYSTEM</h1>
      <div class="container text-center py-3">
        <div class="row">
          <div class="col">
            <button type="button" name="button1" class="btn bigBtn">
              <%=image_tag("entregar.png")%>
              <br>Entregar</button>
          </div>
          <div class="col">
            <button type="button" name="button2" class="btn bigBtn">
              <%=image_tag("registrar.png",class:"bntIcon")%>
            <br>Registrar</button>
          </div>
          <div class="col">
            <button type="button" name="button3" class="btn bigBtn">
              <%=image_tag("realizado.png")%>
              <br>Entregados</button>
          </div>
        </div>
        <div class="row py-4">
          <div class="col">
            <button type="button" name="button4"class="btn bigBtn" >
              <%=image_tag("importar.png")%>
              <br>Importar</button>
          </div>
          <div class="col">
            <button type="button" name="button5" class="btn bigBtn">
              <%=image_tag("exportar.png")%>
              <br>Exportar</button>
          </div>
          <div class="col">
            <button type="button" name="button6" class="btn bigBtn">
              <%=image_tag("inventario.png")%>
              <br>Inventario</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<!-- >
<div class="container1">
    <div class="deliveryButton">
        <button type="button" name="buttonDelivery" class="btn">
        Entregar
        </button>
    </div>

    <div class="registryButton">
        <button type="button" name="buttonRegistry" class="btn">Registrar</button>
    </div>

    <div class="doneButton">
        <button type="button" name="buttonDone" class="btn" >Realizados</button>
    </div>
</div>

<div class="container2">
    <div class="importButton">
        <button type="button" name="buttonImport"class="btn" >Importar</button>
    </div>

    <div class="exportButton">
        <button type="button" name="buttonExport" class="btn">Exportar</button>
    </div>

    <div class="inventaryButton">
        <button type="button" name="buttonInventary" class="btn">Inventario</button>
    </div>
</div>
<!-- -->
