<%= render "partials/nav"%>
<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row text-center">
    <div class="col">
      <h1>Cargas</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table>
        <thead>
          <tr class="tableTitle">
            <th>Fecha de Carga&nbsp&nbsp&nbsp&nbsp&nbsp</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @loads.each do |load| %>
            <tr class="tableInfo">
              <td><%= load.load_date %></td>
              <td><%= link_to 'Ver', load, class:"tableButton" %>&nbsp&nbsp&nbsp&nbsp&nbsp</td>
              <td><%= link_to 'Editar', edit_load_path(load), class:"tableButton" %>&nbsp&nbsp&nbsp&nbsp&nbsp</td>
              <td><%= button_to 'Eliminar', load, class:"tableButton", method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <br>

      <%= link_to 'Nueva Carga', new_load_path, class:"tableButtonNew" %>
    </div>
  </div>
</div>
