<%= render "partials/nav"%>
<div class="container">
  <div class="row text-center">
    <div class="col">
      <h1>Consulta de carga</h1>
    </div>
  </div>
  <p id="notice"><%= notice %></p>

  <p class="tableInfo">
    <strong class="tableTitle">Fecha de carga:</strong>
    <%= @load.load_date %>
  </p>

  <%= link_to 'Editar', edit_load_path(@load), class:"tableButton" %> |
  <%= link_to 'Atrás', loads_path, class:"tableButton" %>

</div>
