<p id="notice"><%= notice %></p>

<h1>Shipping Informations</h1>

<table>
  <thead>
    <tr>
      <th>Phone</th>
      <th>Aditional info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shipping_informations.each do |shipping_information| %>
      <tr>
        <td><%= shipping_information.phone %></td>
        <td><%= shipping_information.aditional_info %></td>
        <td><%= link_to 'Show', shipping_information %></td>
        <td><%= link_to 'Edit', edit_shipping_information_path(shipping_information) %></td>
        <td><%= link_to 'Destroy', shipping_information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shipping Information', new_shipping_information_path %>
