<%= render "partials/nav"%>
<div class="container">
  <div class="row text-center">
    <div class="col">
      <h1>Consulta de Información de Envío</h1>
    </div>
  </div>

  <p id="notice"><%= notice %></p>

  <p class="tableInfo">
    <strong class="tableTitle">Teléfono:</strong>
    <%= @shipping_information.phone %>
  </p>

  <p class="tableInfo">
    <strong class="tableTitle">Información adicional:</strong>
    <%= @shipping_information.additional_info %>
  </p>

  <%= link_to 'Editar', edit_shipping_information_path(@shipping_information), class:"tableButton" %> |
  <%= link_to 'Atrás', shipping_informations_path, class:"tableButton" %>

</div>
