<%= form_with(model: address, local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :calle %>
    <%= form.text_field :street %>
  </div>

  <div class="field">
    <%= form.label :número %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :colonia %>
    <%= form.text_field :colony %>
  </div>

  <div class="field">
    <%= form.label :numero_interior %>
    <%= form.text_field :interior_number %>
  </div>

  <div class="field">
    <%= form.label :código_postal %>
    <%= form.number_field :postal_code %>
  </div>

  <div>
    <div class="field">
      <p style="color:gray;">Ciudad</p>
    </div>
    <div class="dropdown">
      <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Selecciona una ciudad</a>
      <div class="dropdown-menu">
        <% @cities.each do |cities| %>
          <div class="col">
            <%= form.radio_button :city_id, cities.id %>
            <%= form.label :city_id, cities.city_name + ", " + cities.state.state_name, :value => cities.id, :class=>"fieldTitle tableButton"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit"Guardar",class:"btn bigBtn"%>
  </div>
<% end %>
