<%= render "partials/nav"%>
<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row text-center">
    <div class="col">
      <h1>Direcciones</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table>
        <thead>
          <tr  class="tableTitle">
            <th>Calle&nbsp&nbsp&nbsp&nbsp&nbsp</th>
            <th>Número&nbsp&nbsp&nbsp&nbsp&nbsp</th>
            <th>Colonia&nbsp&nbsp&nbsp&nbsp&nbsp</th>
            <th>Número Interior&nbsp&nbsp&nbsp&nbsp&nbsp</th>
            <th>Código Postal&nbsp&nbsp&nbsp&nbsp&nbsp</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @addresses.each do |address| %>
            <tr class="tableInfo">
              <td><%= address.street %>&nbsp&nbsp&nbsp&nbsp&nbsp</td>
              <td><%= address.number %>&nbsp&nbsp&nbsp&nbsp&nbsp</td>
              <td><%= address.colony %>&nbsp&nbsp&nbsp&nbsp&nbsp</td>
              <td><%= address.interior_number %>&nbsp&nbsp&nbsp&nbsp&nbsp</td>
              <td><%= address.postal_code %>&nbsp&nbsp&nbsp&nbsp&nbsp</td>
              <td><%= link_to 'Ver', address, class:"tableButton" %>&nbsp&nbsp&nbsp&nbsp&nbsp</td>
              <td><%= link_to 'Editar', edit_address_path(address), class:"tableButton" %>&nbsp&nbsp&nbsp&nbsp&nbsp</td>
              <td><%= button_to 'Eliminar', address, class:"tableButton", method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <br>

      <%= link_to 'Nueva Dirección', new_address_path, class:"tableButtonNew"   %>
    </div>
  </div>
</div>
